/*
	* Personal Cards 1.0 by Luca Cassani *

	You can copy, modify, publish, use, sell,
	or distribute this template for any purpose,
	commercial or non-commercial, and by any means.
	It requires no special copyright notes nor attribution.
*/

* {
    box-sizing: border-box;
}

body {
    line-height: 230%;
    margin: 0;
    padding: 0;
    color: #212121;
    background-color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #607D8B; /*Change link color */
    text-decoration: none;
    transition: .2s ease-in-out;
}

a:hover {
    color: #5C6BC0; /*Change link color (on mouse over)*/
}

#blue_bg {
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 25%;
    top: 0;
    background-color: #607D8B; /* Change top background color */
    box-shadow: 0 1.5px 4px 0 rgba(0, 0, 0, 0.19), 0 1.5px 3px 0 rgba(0, 0, 0, 0.2);
}

.card {
    width: 550px;
    margin: 0 auto;
    color: #212121;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.19), 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.4s ease-in-out;
    overflow: visible;
}

.quick_card {
    padding: 25px;
    margin-top: 10vh;
    text-align: center;
    margin-bottom: 36px;
}

.quick_card #photo {
    height: 80px;
    width: 80px;
    border-radius: 99px;
}

.quick_card #name {
    font-weight: normal;
    margin-top: 20px;
    font-size: 19px;
    color: #212121;
    font-family: 'Roboto Mono', sans-serif;
}

.quick_card #description {
    font-weight: normal;
    font-size: 15px;
    color: #616161;
    font-family: 'Roboto Mono', sans-serif;
}

.about_card {
    position: relative;
    padding: 15px 32px 8px 32px;
    margin-top: 22px;
    margin-bottom: 16px;
}

.about_card > .tab {
    margin-top: 10px;
    margin-bottom: 10px;
}

.about_card > .tab > .title {
    font-size: 16px;
    color: #9E9D24; /*Change title and title icon color (About Card)*/
    font-family: 'Roboto Mono', sans-serif;
}

.title i {
    position: relative;
    left: -10px;
}

.about_card > .tab > .content {
    padding: 0px 0px 0px 0px;
}

.about_card .element {
    margin-bottom: 5px;
    margin-top: 5px;
}

.about_card .element .name {
    color: #212121;
    font-size: 15px;
    font-family: 'Roboto Mono', sans-serif;

}

.about_card .element .info {
    color: #616161;
    font-size: 14px;
}

hr {
    width: 100%;
    color: #E0E0E0;
    background-color: #E0E0E0;
    height: 1px;
    border: 0;
}

.contact_card {
    position: relative;
    padding: 15px 30px 15px 30px;
    margin-top: 22px;
    margin-bottom: 40px;
}

.contact_card > .tab {
    margin-top: 3px;
    margin-bottom: 8px;
}

.contact_card > .tab > .title {
    font-size: 16px;
    color: #9E9D24; /*Change title and title icon color (Contact Card)*/
    font-family: 'Roboto Mono', sans-serif;
}

.contact_card > .tab > .content {
    padding-top: 10px;
    text-align: left;
}

.contact_card > .tab > .content > .contacts {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 16px;
    display: inline-block;
    font-size: 16px;
    color: #212121;
}

.contact_card > .tab > .content > .about {
    padding-top: 4px;
    padding-right: 16px;
    display: inline-block;
    font-size: 14px;
    font-style: italic;
    color: #212121;
}

.contact_card a {
    color: #616161;
    text-decoration: none; /*Change link color (ONLY Contact Card)*/
}

.contact_card a:hover {
    color: #5C6BC0; /*Change link color (on mouse over, ONLY Contact Card) */
}

.card .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.card.expanded .content {
    max-height: 1000px;
}

.card .tab .title button.card-expand {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
}

.card .tab .title .card-expand .card-expand-icon {
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
    padding: 12px;
    text-align: center;
}

.card .tab .title button.card-expand {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.card .tab .title button.card-expand:focus {
    outline: none;
}

.card .tab .title button.card-expand .expand {
    display: block;
}

.card .tab .title button.card-expand .close {
    display: none;
}

.card .tab .title button.card-expand:hover {
    background-color: #F9F9F9;
}

.card.expanded {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.19), 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.4s ease-in-out;
}

.card.expanded .tab .title button.card-expand .expand {
    display: none;
}

.card.expanded .tab .title button.card-expand .close {
    display: block;
}

#fab {
    position: fixed;
    width: 56px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    background-color: #CDDC39; /*Change FAB background color */
    border-radius: 50%;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.19), 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    transition: .2s ease-in-out;
}

#fab i {
    color: #fff;
    font-size: 22px;
}

#fab:hover {
    background-color: #AFB42B; /*Change FAB background color (on mouse over) */
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.19), 0 4px 12px 0 rgba(0, 0, 0, 0.2);
}

footer {
    z-index: -1;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    text-align: center;
    font-size: 15px;
    color: #757575;
    padding-bottom: 10px;
    font-weight: bold;
}

.material-icons.md-24 {
    font-size: 24px;
}

.vertical-align-middle {
    vertical-align: middle;
}

.padding-bottom-4 {
    padding-bottom: 4px;
}

/* MEDIA */
@media (min-width: 961px) {
    #fab {
        top: calc(25% - 30px);
        right: calc((100% - 550px) / 4 - 30px);
    }
}

@media (min-width: 481px) and (max-width: 960px) {
    .card {
        width: 80%;
    }

    #fab {
        bottom: 2%;
        right: 2%;
    }
}

@media (max-width: 480px) {
    .card {
        width: 90%;
    }

    #fab {
        bottom: 2%;
        right: 2%;
    }
}
